@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Courgette&family=Pacifico&display=swap');
body {
    background: linear-gradient(to right, #000000, #434343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow: hidden;
    color: white;
}
.Passwords {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 250px 50px 250px 50px;
}
#newpass {
    position: relative;
    right: 50%;
    top: 100px;
}
.Profile_Img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.inputs_container{
    display: flex;
    justify-content: space-around;
}
#email {
    width: 400px;
    text-align: center;
}
#password {
    width: 400px;
    height: 30px;
    text-align: center;
}
#form_btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.btn {
    width: 200px;
    height: 30px;
}
.edit_password{
    width: 200px;
    height: 30px;
}
.edit_password_parent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}#Currentpassword {
    width: 200px;
    font-family: 'Carter One', cursive;
    border-radius: 20px;
    border: solid #fa8050;
    text-align: center;
    border-left: hidden;
    border-right: hidden;
    border-top: hidden;
}#newpassword {
    width: 200px;
    font-family: 'Carter One', cursive;
    border-radius: 20px;
    border: solid #fa8050;
    text-align: center;
    border-left: hidden;
    border-right: hidden;
    border-top: hidden;
}#retypenewpassword {
    width: 200px;
    font-family: 'Carter One', cursive;
    border-radius: 20px;
    border: solid #fa8050;
    text-align: center;
    border-left: hidden;
    border-right: hidden;
    border-top: hidden;
}label {
    font-family: 'Carter One', cursive;
}#newpass {
    width: 200px;
    height: 50px;
    font-family: 'Carter One', cursive;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: #000000 4px 4px 15px -6px;
    background-color: #fa8050;
}
a {
    position: absolute;
    color: white;
    top: 50px;
    left: 50px;
    height: 0px;
    font-size: 40px;
    font-style: none;
    text-decoration: none;
    font-family: 'Carter One', cursive;
}
@media only screen and (max-width: 600px) {
    .Passwords{
        flex-direction: column;
    }#newpass {
        position: relative;
        right: 0px;
        top: 30px;
    }#pass {
        margin-top: -10%;
    }a {
        position: absolute;
        color: white;
        top: 50px;
        left: 50px;
        height: 0px;
        font-size: 40px;
        font-style: none;
        text-decoration: none;
        font-family: 'Carter One', cursive;
    }
}
